<!DOCTYPE html>
<html lang = "ro">
  <head>
      <meta charset ="UTF-8">
      <meta name ="keywords" content="beauty, salon, ingrijire corporala, hairstyle, massage, make-up">
      <meta name = "description" content ="Pagina web a salonului A'postroph, salon ce ofera servicii de ingrijire corporala">
      <meta name = "author" content ="Liciu Stefan">
      <title>A'postroph</title>
      <!--Favicon-->
      <link rel="apple-touch-icon" sizes="180x180" href="./resurse/icon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="./resurse/icon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="i./resurse/icon/favicon-16x16.png">
      <link rel="manifest" href="./resurse/icon/site.webmanifest">
      <link rel="mask-icon" href="./resurse.icon/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
      <link rel ="stylesheet" href ="./resurse/style.css">
      <script src="script.js"></script>
  </head>
  <body>
    <%- include("../fragmente/header.ejs") %>  
       <main>
        <h2>Ai fost delogat</h2>
       </main>
   
    <%- include("../fragmente/footer.ejs") %>
  </body>
  </html>