<footer><a href="#" title="mergi sus" id="link-top">Mergi inapoi sus!</a>
    <address>
      Strada prajiturilor, nr. 10, București, sector 1, România
    </address>
    <address>
      <a href="tel:+40751118678">Click pentru a lua legatura telefonica la numarul 0751118678</a>
      <p>Ne puteti gasi aici:</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10898.395965844971!2d26.358483036570018!3d46.930265366328186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473555c9b6e32ccb%3A0xfeca94b870be8baa!2sApostroph!5e0!3m2!1sro!2sro!4v1645966564720!5m2!1sro!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      <p>Sau ne puteti contacta la adresa de email:</p>
      <a href ="mailto:licius9090@gmail.com">Click pentru a trimite mail</a><hr>
      <a href="https://api.whatsapp.com/send?phone=0751118678">Send Message</a><hr>
      <small>&copy; Created by Liciu Stefan on <time datetime ="2022-02-27">27 Februarie 2022</time> </small>
    </address>
  </footer>